* {
    padding: 0.1rem;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

body {
    background: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

section {
    padding: 0.3rem;
}

canvas {
    border: 0.2rem solid black;
    display: block;
    margin: auto;
}

button {
    margin-top: 0.2rem;
    background: black;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #333;
}

.hidden-method {
    display: none;
}

.hidden-general {
    opacity: 0;
}

#output-canvas {
    margin-top: 1rem;
    border: 0.1rem black solid;
    width: 70%;
}

#additive-reset {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    border-radius: 0.8rem;
}